@import "../base/listas";
@import "../base/variables";

main{
    font-family: $ffont-principal;
    h2{
        margin-top: 2%;
        padding: 2%;
        background-color:rgb(120, 111, 102);
        color: white;
    }
}