@import "../base/listas";
@import "../base/variables";


footer{
    background-image: url(../images/footer.jpg);
    background-size: cover;
    width: 100%;
    div{
        div{
            nav{
                ul{
                    li{
                        list-style: none;
                        display: inline-block;
                        padding: 1%;
                        margin-top: 1%; 
                    }
                }
            }
        }
    }
}
