@import "../base/listas";
@import "../base/variables";

header{
    font-family: $ffont-principal;
    font-size: nth($ftamaños, 3 );
    background-color: nth($bg-colors, 1 );
    div .navbar-nav{
        a{
            &:hover{
                border-style:ridge;
                border-color: rgb(143, 210, 251);    
            }
        }
    }
}