.MainIN{
    background-image: url(/images/wepik-photo-mode-2022112-21924.png);
    background-size:cover;
    margin: 0;
    padding: 0;
    font-family: $ffont-secundario;  
    .MainIN1, .MainIN2{
        border: 5px solid rgba(123, 120, 118, 0.937);
        padding: 2%;
    }
    legend{
        font-size: xx-large;
    }  
}
.comentario{
    outline: none;
}
.comentario:focus{
    border: solid 2px brown;
    border-radius: 5px;
}
