@import "../base/listas";
@import "../base/variables";

.nosotrosmain{
    article{
        h2{
            text-decoration: underline;
            color: black;
            padding: 2%;
            background-color:nth($bg-colors, 2 );
        }
        h3{
            margin-bottom: 1%;
            text-decoration: underline;
            color: rgb(55, 5, 5);
        }
        h4{
            margin-bottom: 2%;
        }
        h5{
            margin-bottom: 2%;
        }    
        video{
            margin-bottom: 2%;
        }
    }
}
.art_main_nos1{
    background-image: url(/images/wepik-photo-mode-2022112-222812.png);
}
@media (max-width: 576px) { 
    /* nosotros */
    .art_main_nos, .art_main_nos1 h5{
        display: none;
    }
}