@import "../base/listas";
@import "../base/variables";

main .mainsuc{
    color: white;
    margin-bottom: 0;
    section{
        article{
            div{
                img{
                    border-radius: 5%;
                    border: 7px double white;
                }
            }
        }
        article{
            div{
                button{
                    transition: 0.3s;
                    &:hover{
                        transform: scale(1.5);
                    }
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}